{% extends 'dashboard/layouts/_dashboard.html.twig' %}

{% block content %}
    {% if products|length == 0 %}
        <div class="card">
            <div class="card-body">
                <div class="card card-inverse-danger">
                    <div class="card-body">
                        <p class="card-text">
                            <i class="fa fa-exclamation-triangle"></i>
                            Aucun'a encore été passée
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid group-data-[content=boxed]:max-w-boxed mx-auto">
            <div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
                <div class="grow">
                    <h5 class="text-16">Gestion des produits</h5>
                </div>
                <ul class="flex items-center gap-2 text-sm font-normal shrink-0">
                    <li class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1  before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200">
                        <a href="{{ path('app_suppliers_products_new') }}" class="text-slate-400 dark:text-zink-200">Dashboard</a>
                    </li>
                    <li class="text-slate-700 dark:text-zink-100">
                        Ajouter un nouveau produit
                    </li>
                </ul>
            </div>
            <div class="lg:col-span-2 ltr:lg:text-right rtl:lg:text-left xl:col-span-2 xl:col-start-11 mb-3">
                <a href="{{ path('app_suppliers_products_new') }}" type="button"
                   class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         data-lucide="plus" class="lucide lucide-plus inline-block size-4">
                        <path d="M5 12h14"></path>
                        <path d="M12 5v14"></path>
                    </svg>
                    <span class="align-middle">Ajouter un nouveau produit</span></a>
            </div>
            <div class="grid grid-cols-1 xl:grid-cols-12 gap-x-5">

                <div class="xl:col-span-12">
                    {% for message in app.flashes('success') %}
                        <div class="flex gap-3 p-4 text-sm text-green-500 rounded-md bg-green-50 dark:bg-green-400/20">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-circle" class="lucide lucide-check-circle inline-block size-4 mt-0.5 shrink-0"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><path d="m9 11 3 3L22 4"></path></svg>
                            <div>
                                <h6 class="mb-1">Yey! Everything worked! {{ message }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="card" id="productListTable" data-np-autofill-form-type="other" data-np-checked="1"
                         data-np-watching="1">
                        <div class="card-body">
                            <h6 class="mb-4 text-15">Liste des produits</h6>
                        </div>
                        <div class="!pt-1 card-body">
                            <div class="overflow-x-auto">
                                <table class="w-full whitespace-nowrap" id="productTable">
                                    <thead class="ltr:text-left rtl:text-right bg-slate-100 dark:bg-zink-600">
                                    <tr>
                                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 sort product_name"
                                            data-sort="product_name">Nom du produit
                                        </th>
                                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 sort category"
                                            data-sort="category">Categories
                                        </th>
                                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 sort price"
                                            data-sort="price">Prix
                                        </th>
                                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 sort stock"
                                            data-sort="stock">En stock
                                        </th>
                                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 action">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="list">
                                      {% for product in products  %}
                                          <tr>
                                              <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 product_name">
                                                  <a href="apps-ecommerce-product-overview.html"
                                                     class="flex items-center gap-2">
                                                      <h6 class="product_name">
                                                          {{ product.label }}
                                                      </h6>
                                                  </a>
                                              </td>
                                              <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 category">
                                                      <span
                                                          class="category px-2.5 py-0.5 text-xs inline-block font-medium rounded border bg-slate-100 border-slate-200 text-slate-500 dark:bg-slate-500/20 dark:border-slate-500/20 dark:text-zink-200">
                                                          {{ product.categories }}
                                                      </span>
                                              </td>
                                              <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 price">
                                                  {{ product.price }}
                                              </td>
                                              <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 stock">
                                                 {% if product.inStock == 'Yes' %}
                                                     <span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-green-100 border-transparent text-green-500 dark:bg-green-500/20 dark:border-transparent">Oui</span>
                                                   {% else%}
                                                       <span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-red-100 border-transparent text-red-500 dark:bg-red-500/20 dark:border-transparent">Non</span>
                                                  {% endif %}
                                              </td>
                                              <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 action">
                                                  <div class="flex gap-2">
                                                      <div class="edit">
                                                          <a href="{{ path('app_suppliers_products_view_update', {'id': product.id})}}"  class="py-1 text-xs text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20 edit-item-btn">Edit</a>
                                                      </div>
                                                      <form method="post" action="{{ path('app_suppliers_products_delete', {'id': product.id}) }}">
                                                          <input type="hidden" name="_method" value="DELETE">
                                                          <div class="remove">
                                                              <button  class="py-1 text-xs text-white bg-red-500 border-red-500 btn hover:text-white hover:bg-red-600 hover:border-red-600 focus:text-white focus:bg-red-600 focus:border-red-600 focus:ring focus:ring-red-100 active:text-white active:bg-red-600 active:border-red-600 active:ring active:ring-red-100 dark:ring-custom-400/20 remove-item-btn">Supprimer</button>
                                                          </div>
                                                      </form>

                                                  </div>
                                              </td>
                                          </tr>
                                      {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--end card-->
            </div><!--end col-->
        </div><!--end grid-->
    {% endif %}
{% endblock %}
