{% extends 'dashboard/layouts/_dashboard.html.twig' %}

{% block content %}
    <div class="group-data-[content=boxed]:max-w-boxed">

        <div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
            <div class="grow">
                <h5 class="text-16">Ajout de produit</h5>
            </div>
            <ul class="flex items-center gap-2 text-sm font-normal shrink-0">
                <li class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1  before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200">
                    <a href="#!" class="text-slate-400 dark:text-zink-200">Dashboard</a>
                </li>
                <li class="text-slate-700 dark:text-zink-100">
                    Ajouter un nouveau produit
                </li>
            </ul>
        </div>
        <div class="flex justify-center">
            <div class="card lg:w-[500px]" >
                <div class="card-body">
                    <form action="{{ path('app_suppliers_products_new_submit') }}" method="post" data-np-autofill-form-type="other" data-np-checked="1" data-np-watching="1">
                        {{ form_start(form) }}
                        <div class="mb-3">
                            <label for="inputText" class="inline-block mb-2 text-base font-medium">Nom du produit <span class="text-red-500">*</span></label>
                            {{ form_widget(form.label, {'attr': {'class': 'form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200', 'placeholder': 'Veuillez entrer le nom du produit','label':'Nom du produit'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="inputText" class="inline-block mb-2 text-base font-medium">Description <span class="text-red-500">*</span></label>
                            {{ form_widget(form.description, {'attr': {'class': 'form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200', 'placeholder': 'Veuillez entrer le nom du produit','label':'Nom du produit'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="inputText" class="inline-block mb-2 text-base font-medium">Prix <span class="text-red-500">*</span></label>
                            {{ form_widget(form.price, {'attr': {'class': 'form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200', 'placeholder': 'Veuillez entrer le nom du produit','label':'Nom du produit'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="inputText" class="inline-block mb-2 text-base font-medium">Quantity <span class="text-red-500">*</span></label>
                            {{ form_widget(form.count, {'attr': {'class': 'form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200', 'placeholder': 'Quantity','label':'Nom du produit'}}) }}
                        </div>
                        <div class="mb-3">
                            <label for="inputText" class="inline-block mb-2 text-base font-medium">Categories <span class="text-red-500">*</span></label>
                            <select data-choices data-choices-removeItem name="{{ field_name(form.categories) }}" multiple class="rounded-full form-select border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" data-np-intersection-state="visible">
                                {% for label, value in field_choices(form.categories) %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex justify-end gap-2 mt-4">
                            <button type="reset"
                                    class="text-red-500 bg-white btn hover:text-red-500 hover:bg-red-100 focus:text-red-500 focus:bg-red-100 active:text-red-500 active:bg-red-100 dark:bg-zink-700 dark:hover:bg-red-500/10 dark:focus:bg-red-500/10 dark:active:bg-red-500/10">
                                Reinitialiser
                            </button>
                            <button type="submit"
                                    class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">
                                Soumettre
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end grid-->

{% endblock %}
