{% extends 'dashboard/layouts/_dashboard.html.twig' %}
{% block content %}

    <div class="container-fluid group-data-[content=boxed]:max-w-boxed mx-auto">

        <div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
            <div class="grow">
                <h5 class="text-16">Details de la commande</h5>
            </div>
            <ul class="flex items-center gap-2 text-sm font-normal shrink-0">
                <li class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1  before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200">
                    <a href="#!" class="text-slate-400 dark:text-zink-200">Ecommerce</a>
                </li>
                <li class="text-slate-700 dark:text-zink-100">
                    Order Overview
                </li>
            </ul>
        </div>
        <div class="grid grid-cols-1 2xl:grid-cols-12 gap-x-5">
            <div class="2xl:col-span-3">
                <div class="card">
                    <div class="card-body">
                        <div
                            class="flex items-center justify-center bg-purple-100 rounded-md size-12 dark:bg-purple-500/20 ltr:float-right rtl:float-left">
                            <i data-lucide="truck" class="text-purple-500 fill-purple-200 dark:fill-purple-500/30"></i>
                        </div>
                        <h6 class="mb-4 text-15">Details de la livraison</h6>

                        <h6 class="mb-1">Etoile du matin</h6>
                        <p class="mb-1 text-slate-500 dark:text-zink-200">RUE SERGENT ANIKO PALAKO QT KOKETIME.</p>
                        <p class="text-slate-500 dark:text-zink-200">Lomé-Togo</p>
                    </div>
                </div>
            </div><!--end col-->
            <div class="2xl:col-span-3">
                <div class="card">
                    <div class="card-body">
                        <div
                            class="flex items-center justify-center bg-orange-100 rounded-md size-12 dark:bg-orange-500/20 ltr:float-right rtl:float-left">
                            <i data-lucide="credit-card"
                               class="text-orange-500 fill-orange-200 dark:fill-orange-500/30"></i>
                        </div>
                        <h6 class="mb-4 text-15">Details de paiement</h6>

                        <h6 class="mb-1">Etoile du matin</h6>
                        <p class="mb-1 text-slate-500 dark:text-zink-200">RUE SERGENT ANIKO PALAKO QT KOKETIME.</p>
                        <p class="text-slate-500 dark:text-zink-200">Lomé-Togo</p>
                    </div>
                </div>
            </div><!--end col-->
            <div class="2xl:col-span-3">
                <div class="card">
                    <div class="card-body">
                        <div
                            class="flex items-center justify-center rounded-md size-12 ltr:float-right rtl:float-left bg-sky-100 dark:bg-sky-500/20">
                            <i data-lucide="circle-dollar-sign"
                               class="text-sky-500 fill-sky-200 dark:fill-sky-500/30"></i>
                        </div>
                        <h6 class="mb-4 text-15">Details de paiements</h6>

                        <h6 class="mb-1">ID: #TSD456DF41SD5</h6>
                        <p class="mb-1 text-slate-500 dark:text-zink-200">Payment Method: <b>Credit Card</b></p>
                        <p class="mb-1 text-slate-500 dark:text-zink-200">Card Number: <b>xxxx xxxx xxxx 1501</b></p>
                    </div>
                </div>
            </div><!--end col-->
            <div class="2xl:col-span-3">
                <div class="card">
                    <div class="card-body">
                        <div
                            class="bg-yellow-100 rounded-md size-12 ltr:float-right rtl:float-left dark:bg-yellow-500/20">
                            <img src="./assets/images/avatar-4.png" alt="" class="h-12 rounded-md">
                        </div>
                        <h6 class="mb-4 text-15">Information du client</h6>

                        <h6 class="mb-1">Etoile du matin</h6>
                        <p class="mb-1 text-slate-500 dark:text-zink-200">RUE SERGENT ANIKO PALAKO QT KOKETIME.</p>
                        <p class="text-slate-500 dark:text-zink-200">Lomé-Togo</p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end grid-->

        <div class="grid grid-cols-1 2xl:grid-cols-12 gap-x-5">
            <div class="2xl:col-span-9">
                <div class="grid grid-cols-1 2xl:grid-cols-4 gap-x-4">
                    <div>
                        <div class="card">
                            <div class="text-center card-body">
                                <h6 class="mb-1 underline">{{ order.orderReference }}</h6>
                                <p class="uppercase text-slate-500 dark:text-zink-200">Référence de la commande</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div>
                        <div class="card">
                            <div class="text-center card-body">
                                <h6 class="mb-1">{{ order.orderedAt }}</h6>
                                <p class="uppercase text-slate-500 dark:text-zink-200">Date de la commande</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div>
                        <div class="card">
                            <div class="text-center card-body">
                                <h6 class="mb-1">{{ order.orderTotal }} FCFA</h6>
                                <p class="uppercase text-slate-500 dark:text-zink-200">Montant de la commande</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div>
                        <div class="card">
                            <div class="text-center card-body">
                                <span
                                    class="delivery_status px-2.5 py-0.5 text-xs inline-block font-medium rounded border bg-purple-100 border-purple-200 text-purple-500 dark:bg-purple-500/20 dark:border-purple-500/20">Shipping</span>
                                <p class="uppercase text-slate-500 dark:text-zink-200">Status de la commande</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end grid-->
                <div class="card">
                    <div class="card-body">
                        <div class="flex items-center gap-3 mb-4">
                            <h6 class="text-15 grow">Détails de la commande</h6>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="w-full whitespace-nowrap table-custom border-spacing-y-1">
                                <thead class="ltr:text-left rtl:text-right ">
                                <tr class="relative rounded-md bg-slate-50 after:absolute after:border-l-2 after:left-0 after:top-0 after:bottom-0 after:border-transparent dark:bg-zink-600 [&amp;.active]:after:border-custom-500">
                                    <th class="px-3.5 py-2.5 font-semibold">Produit</th>
                                    <th class="px-3.5 py-2.5 font-semibold">Quantité</th>
                                    <th class="px-3.5 py-2.5 font-semibold">Prix unitaire</th>
                                    <th class="px-3.5 py-2.5 font-semibold">Prix total</th>
                                    <th class="px-3.5 py-2.5 font-semibold">Status</th>
                                    <th class="px-3.5 py-2.5 font-semibold">Action</th>
                                </tr>
                                </thead>
                                <tbody class="list" id="employeeList">

                                {% for orderDetail in order.details %}
                                    <twig:OrderDetailsItem
                                        details="{{ orderDetail }}"
                                    />
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end card-->
                <div class="card">
                    <div class="card-body">
                        <div class="flex items-center gap-3 mb-4">
                            <h6 class="text-15 grow">Paiements</h6>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="2xl:col-span-3">
                <div class="flex gap-2 mt-5 shrink-0" data-controller="details-buttons">
                    <button
                        {% if order.status == 'VALIDATED' %} disabled {% endif %}
                        data-action="details-buttons#terminteOrderChanges"
                        data-order-id="{{ order.id }}"
                        class="w-full text-white btn bg-green-500 border-green-500 hover:text-white hover:bg-green-600 hover:border-green-600 focus:text-white focus:bg-green-600 focus:border-green-600 focus:ring focus:ring-green-100 active:text-white active:bg-green-600 active:border-green-600 active:ring active:ring-green-100 dark:ring-green-400/20">
                        Valider les changements
                    </button>
                </div>
            </div><!--end col-->
        </div><!--end grid-->

    </div>
{% endblock %}
