{% extends 'dashboard/layouts/_dashboard.html.twig' %}

{% block content %}
    <div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
        <div class="grow">
            <h5 class="text-16">Liste des commandes</h5>
        </div>
        <ul class="flex items-center gap-2 text-sm font-normal shrink-0">
            <li class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1  before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200">
                <a href="#!" class="text-slate-400 dark:text-zink-200">Ecommerce</a>
            </li>
            <li class="text-slate-700 dark:text-zink-100">
                Listes des commandes
            </li>
        </ul>
    </div>
    <div class="grid grid-cols-1 gap-x-5 md:grid-cols-2 2xl:grid-cols-12">
        <div class="2xl:col-span-2 2xl:row-span-1">
            <div class="card">
                <div class="flex items-center gap-3 card-body">
                    <div
                        class="flex items-center justify-center rounded-md size-12 text-15 bg-custom-50 text-custom-500 dark:bg-custom-500/20 shrink-0">
                        <i data-lucide="boxes"></i></div>
                    <div class="grow">
                        <h5 class="mb-1 text-16 counter-value" data-target="{{ counts['total'] }}">
                            0
                        </h5>
                        <p class="text-slate-500 dark:text-zink-200">Total des commandes</p>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="2xl:col-span-2 2xl:row-span-1">
            <div class="card">
                <div class="flex items-center gap-3 card-body">
                    <div
                        class="flex items-center justify-center rounded-md size-12 text-15 bg-sky-50 text-sky-500 dark:bg-sky-500/20 shrink-0">
                        <i data-lucide="package-plus"></i></div>
                    <div class="grow">
                        <h5 class="mb-1 text-16 counter-value" data-target="{{ counts['new'] }}"></h5>
                        <p class="text-slate-500 dark:text-zink-200">Nouvelles commandes</p>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="order-last md:col-span-2 2xl:col-span-8 2xl:row-span-3 card 2xl:order-none">
            <div class="card-body">
                <h6 class="mb-4 text-gray-800 text-15 dark:text-zink-50">Orders Overview</h6>
                <div id="ordersOverview" class="apex-charts" data-chart-colors='["bg-custom-500"]' dir="ltr"></div>
            </div>
        </div><!--end col-->
        <div class="2xl:col-span-2 2xl:row-span-1">
            <div class="card">
                <div class="flex items-center gap-3 card-body">
                    <div
                        class="flex items-center justify-center text-yellow-500 rounded-md size-12 text-15 bg-yellow-50 dark:bg-yellow-500/20 shrink-0">
                        <i data-lucide="loader"></i></div>
                    <div class="grow">
                        <h5 class="mb-1 text-16 counter-value" data-target="{{ counts['processing'] }}">0</h5>
                        <p class="text-slate-500 dark:text-zink-200">Commandes en cours de traitement</p>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="2xl:col-span-2 2xl:row-span-1">
            <div class="card">
                <div class="flex items-center gap-3 card-body">
                    <div
                        class="flex items-center justify-center text-green-500 rounded-md size-12 text-15 bg-green-50 dark:bg-green-500/20 shrink-0">
                        <i data-lucide="package-check"></i></div>
                    <div class="grow">
                        <h5 class="mb-1 text-16 counter-value" data-target="{{ counts['completed'] }}">0</h5>
                        <p class="text-slate-500 dark:text-zink-200">Commandes completées</p>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="2xl:col-span-2 2xl:row-span-1">
            <div class="card">
                <div class="flex items-center gap-3 card-body">
                    <div
                        class="flex items-center justify-center text-red-500 rounded-md size-12 text-15 bg-red-50 dark:bg-red-500/20 shrink-0">
                        <i data-lucide="package-x"></i></div>
                    <div class="grow">
                        <h5 class="mb-1 text-16 counter-value" data-target="{{ counts['cancelled'] }}">0</h5>
                        <p class="text-slate-500 dark:text-zink-200">Commandes annulées</p>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end grid-->

    <div class="card" id="ordersTable">
        <div class="card-body">
            <ul class="flex flex-wrap w-full mt-5 text-sm font-medium text-center text-gray-500 nav-tabs">
                <li class="group active">
                    <a href="javascript:void(0);" data-tab-toggle data-target="allOrders"
                       class="inline-block px-4 py-1.5 text-base transition-all duration-300 ease-linear rounded-md text-slate-500 dark:text-zink-200 border border-transparent group-[.active]:bg-custom-500 group-[.active]:text-white dark:group-[.active]:text-white hover:text-custom-500 dark:hover:text-custom-500 active:text-custom-500 dark:active:text-custom-500 -mb-[1px]"><i
                            data-lucide="boxes" class="inline-block size-4 ltr:mr-1 rtl:ml-1"></i> <span
                            class="align-middle">All Orders</span></a>
                </li>
            </ul>

            <div class="mt-5 overflow-x-auto">
                {% if orders|length == 0 %}
                     <div class="noresult" >
                    <div class="py-6 text-center">
                        <i data-lucide="search" class="w-6 h-6 mx-auto text-sky-500 fill-sky-100 dark:sky-500/20"></i>
                        <h5 class="mt-2 mb-1">Sorry! No Result Found</h5>
                    </div>
                </div>
                 {% else%}
                     <twig:LastTenOrders orders="{{ orders }}"/>
                {% endif %}
            </div>

        </div>
    </div><!--end card-->

{% endblock %}
