{%  extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    Invoice
                </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Sample pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Invoice</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card px-2">
                        <div class="card-body">
                            <div class="container-fluid">
                                <h3 class="text-right my-5">{{ invoice.orderedAt }}</h3>
                                <hr>
                            </div>
                            <div class="container-fluid d-flex justify-content-between">
                                <div class="col-lg-3 pl-0">
                                    <p class="mt-5 mb-2"><b>Melody Admin</b></p>
                                    <p>104,<br>Minare SK,<br>Canada, K1A 0G9.</p>
                                </div>
                                <div class="col-lg-3 pr-0">
                                    <p class="mt-5 mb-2 text-right"><b>Invoice to</b></p>
                                    <p class="text-right">Gaala & Sons,<br> C-201, Beykoz-34800,<br> Canada, K1A 0G9.</p>
                                </div>
                            </div>
                            <div class="container-fluid d-flex justify-content-between">
                                <div class="col-lg-3 pl-0">
                                    <p class="mb-0 mt-5">Invoice Date : 23rd Jan 2016</p>
                                    <p>Due Date : 25th Jan 2017</p>
                                </div>
                            </div>
                            <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                                <div class="table-responsive w-100">
                                    <table class="table">
                                        <thead>
                                        <tr class="bg-dark text-white">
                                            <th>#</th>
                                            <th>Produit</th>
                                            <th class="text-right">Quantité</th>
                                            <th class="text-right">Prix unitaire</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                       {% for details in invoice.detailsItems %}
                                        <tr class="text-right">
                                            <td class="text-left">1</td>
                                            <td class="text-left">{{ details.product.label }}</td>
                                            <td> {{  details.quantity }}</td>
                                            <td>{{ details.product.price }}</td>
                                            <td>$40</td>
                                        </tr>
                                       {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="container-fluid mt-5 w-100">
                                <h4 class="text-right mb-5">Total : $13,986</h4>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
