
    <tr  {{ attributes }}>
        <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500 Name">
            {% if details.isInStock == 1  %}
                <h6 class="grow"> {{ details.productName }}</h6>
            {% else %}
                <div
                    class="flex gap-2 m-4 px-4 py-3 text-sm text-red-500 border border-red-200 rounded-md md:items-center bg-red-50 dark:bg-red-400/20 dark:border-red-500/50">
                    La quantité du produit selectionnée <br> est inférieur
                    à la quantité en stock .  <br>
                    Veuillez selectionner une alternative du produit <br> ou changez la quantité de produit

                </div>
                {#disolay select for item with stock issue #}
                <select class="m-t-3 py-1 pl-3 text-xs pr-7 form-select border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" data-np-intersection-state="visible">
                    <option name="alternatives">Veuillez selectionnez un produit</option>
                    {% for alternativeProduct in details.alternatives %}
                        <option value="{{ alternativeProduct.id }}">{{ alternativeProduct.label }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </td>
        <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500 Name">
            {% if details.isInStock == 1  %}
                <input disabled  name="{{ details.quantity }}" value="{{ details.quantity }}" type="number"
                       class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"/>
            {% else %}
                <input  name="{{ details.quantity }}" value="{{ details.quantity }}" type="number"
                        class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"/>
            {% endif %}
        </td>
        <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500 Name">
            <input disabled name="{{ details.unitPrice }}" value="{{ details.unitPrice }}" type="number"
                   class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"/>
        </td>
        <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500 Name">
            <input disabled name="{{ details.subTotal }}" value="{{ details.subTotal }}" type="number"
                   class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"/>
        </td>
        <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500">
                            <span
                                class="delivery_status px-2.5 py-0.5 text-xs inline-block font-medium rounded border bg-{{ details.status.color }}-100 border-{{ details.status.color }}-200 text-{{ details.status.color }}-500 dark:bg-{{ details.status.color }}-500/20 dark:border-{{ details.status.color }}-500/20">
                                {{ details.status.value }}
                            </span>
        </td>
        <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 action">
            <div class="flex gap-2">
                <div class="edit">
                    <button
                        data-action="live#action"
                        data-live-action-param="validateLineItem"
                        data-live-id-param="{{ details.id }}"
                        type="button"
                        class="py-1 text-xs text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20 edit-item-btn">Confirmer</button>
                </div>
            </div>
        </td>

    </tr>




