{%  extends 'dashboard/layouts/_dashboard.html.twig' %}

{% block content %}
    {% if catalogs|length == 0 %}
        <div class="alert alert-fill-danger" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            Oh snap! Aucun catalogue n'a été trouvé . Veuillez remplir le formulaire  suivant afin d'en ajouter
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="mb-4 text-15">Ajouter une categorie</h6>
                    {{ form_start(form) }}
                    <div class="grid grid-cols-1 gap-x-5 md:grid-cols-2 xl:grid-cols-3">
                        <div class="mb-4">
                            <label for="firstNameInput2" class="inline-block mb-2 text-base font-medium">Nom de la categorie <span class="text-red-500">*</span></label>
                            {{ form_widget(form.label, {'attr': {'class': 'form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200', 'placeholder': 'Veuillez entrer le nom de la categorie'}}) }}
                        </div>
                        <div class="mb-4">
                            <label for="lastNameInput2" class="inline-block mb-2 text-base font-medium">Last Name <span class="text-red-500">*</span></label>
                            {{ form_widget(form.label, {'attr': {'class': 'form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200', 'placeholder': 'Veuillez entrer le nom de la categorie'}}) }}
                        </div>
                    </div>
                    <div class="flex justify-end gap-2">
                     {#   {{ form_widget(form.submit, {'attr': {'class': 'text-white transition-all duration-200 ease-linear btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100'}}) }}
#}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Catalogues</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                        <tr class="bg-primary text-white">
                                            <th>Nom du catalogue</th>
                                            <th>Nombre de produits</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for catalog in catalogs %}
                                            <tr>
                                                <td>{{ catalog.label }}</td>
                                                <td>$3200</td>
                                                <td >
                                                    <button class="btn btn-light">
                                                        <i class="fa fa-eye text-primary"></i>Voir
                                                    </button>
                                                    <button class="btn btn-light">
                                                        <i class="fa fa-times text-danger"></i>Supprimer
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
